header{
    float: left;
    border: solid 1px;
    background-color: darkgrey;
}

header h1{
    text-align: center;
    padding-top: 75px;
    border: solid 1px;
    border-radius: 70%;
    background-color: green;
    width: 200px;
    height: 25px;
    margin: auto;
    padding-bottom: 70px;
    
}

footer{
    float: right;
    text-align: center;
}

img{
    width: 500px;
}

body{
    width: 70%;
}

#lista{
    list-style: none;
    color: white;

}
#div2{
    background-image: url(hatter.jpg);
    width: 300px;
    height: 300px;
    padding-top: 50px;
}


